{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scoring Engine</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% block head %}
{% endblock%}
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'index' %}">Scoring Engine</a>
</div>
<div>
<ul class="nav navbar-nav">
<li class="{% block index %}{% endblock %}"><a href="{% url 'index' %}">Home</a></li>

{% if user.is_authenticated %}
{% if user.is_superuser %}
<li class="{% block teams %}{% endblock %}"><a href="{% url 'teams' %}">Teams</a></li>
{% else %}
<li class="{% block status %}{% endblock %}"><a href="{% url 'status' %}">Status</a></li>
{# TODO #}
<li class="{% block services %}{% endblock %}"><a href="{% url 'index' %}">Services</a></li>
<li class="{% block credentials %}{% endblock %}"><a href="{% url 'index' %}">Credentials</a></li>
{% endif %}
{% endif %}

</ul>
<ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
<p class="navbar-text">Hello, {{ user.username }}</p>
<li><a href="{% url 'logout' %}">Logout</a></li>
{% else %}
<li><a href="{% url 'login' %}">Login</a></li>
{% endif %}
</ul>
</div>
</div>
</nav>

<div class="container">
{% block content %}

{% endblock %}
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="modalLabel">{% block modal_title %}{% endblock %}</h4>
</div>
<div class="modal-body">
{% block modal_body %}
{% endblock %}
</div>
<div class="modal-footer">
{% block modal_footer %}
{% endblock %}
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>
