{% extends 'base.html' %}

{% load bootstrap3 %}

{% block bulk_password %}active{% endblock %}

{% block content %}
<h2>Bulk Password Change</h2>
<form method="post" action="{% url 'bulk_password' %}">
{% csrf_token %}
<div id='bulk_pass_dropdown'>
{% bootstrap_field password_form.team %}
</div>
<div id='bulk_pass_dropdown'>
{% bootstrap_field password_form.service %}
</div>
{% bootstrap_field password_form.change_list %}
<input type="hidden" name="type" value="bulk_password" />
<input type="submit" class="btn btn-success" value="Submit"/>
</form>
{% endblock %}
