{% extends 'base.html' %}

{% load bootstrap3 %}
{% load dyn_form %}

{% block credentials %}active{% endblock %}

{% block content %}
<h2>Default Credentials</h2>
<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Username</th>
<th>Password</th>
<th>Services</th>
<th></th>
</tr>
</thead>
<tbody>
{% for c in credentials %}
<tr>
<td>{{ c.pk }}</td>
<td>{{ c.username }}</td>
<td>{{ c.password }}</td>
<td>
{% for s in c.services.all %}
{{ s.name }},
{% endfor %}
</td>
<td class='button-td'>
<form method="post" action="{% url 'credentials' %}">
{% csrf_token %}
<input type='hidden' name='type' value='credential' />
<input type='hidden' name='delete' value='true' />
<input type='hidden' name='id' value='{{ c.pk }}' />
<button class="btn btn-danger btn-pad pull-right">
<span class="glyphicon glyphicon-trash"></span>
</button>
</form>

<button class="btn btn-primary btn-pad pull-right" data-toggle="modal" data-target="#editCredentialModal-{{ c.pk }}">
<span class="glyphicon glyphicon-pencil"></span>
</button>

<div class="modal fade" id="editCredentialModal-{{ c.pk }}" tabindex="-1" role="dialog" aria-labelledby="editCredentialModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="editCredentialModalLabel">Edit Credential</h4>
</div>
<div class="modal-body">
  <form method="post" action="{% url 'credentials' %}">
    {% csrf_token %}
    {% bootstrap_form credential_forms|dyn_form:c.pk exclude='team,default' %}
</div>
<div class="modal-footer">
    <input type='hidden' name='type' value='credential' />
    <input type='hidden' name='edit' value='true' />
    <input type='hidden' name='id' value={{ c.pk }} />
    <input type="submit" class="btn btn-success" value="Submit"/>
  </form>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

</td>
</tr>
{% endfor %}
<tr>
<td colspan="5">
<button class="btn btn-success" data-toggle="modal" data-target="#credentialModal">
<span class="glyphicon glyphicon-plus"></span>
</button>
</td>
</tr>
</tbody>
</table>

{% endblock %}

{% block after %}
<div class="modal fade" id="credentialModal" tabindex="-1" role="dialog" aria-labelledby="credentialModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="credentialModalLabel">New Credential</h4>
</div>
<div class="modal-body">
  <form method="post" action="{% url 'credentials' %}">
    {% csrf_token %}
    {% bootstrap_form credential_forms|dyn_form:0 exclude='team,default' %}
</div>
<div class="modal-footer">
    <input type='hidden' name='type' value='credential' />
    <input type="submit" class="btn btn-success" value="Submit"/>
  </form>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

{% endblock %}
