{% extends 'base.html' %}

{% load bootstrap3 %}

{% block credentials %}active{% endblock %}

{% block content %}
<h2>Default Credentials</h2>
<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Username</th>
<th>Password</th>
<th>Services</th>
<th></th>
</tr>
</thead>
<tbody>
{% for c in credentials %}
<tr>
<td>{{ c.pk }}</td>
<td>{{ c.username }}</td>
<td>{{ c.password }}</td>
<td>
{% for s in c.services.all %}
{{ s.name }},
{% endfor %}
</td>
<td class='button-td'>
{% include "delete_form.html" with post_url='credentials' type='credential' m=c %}
{% include "edit_form.html" with post_url='credentials' type='credential' m=c forms=credential_forms ex='team,default' %}
</td>
</tr>
{% endfor %}
<tr>
<td colspan="5">
{% include "add_form.html" with post_url='credentials' type='credential' forms=credential_forms ex='team,default' %}
</button>
</td>
</tr>
</tbody>
</table>

{% endblock %}
