{% extends 'base.html' %}

{% load bootstrap3 %}

{% block services %}active{% endblock %}

{% block content %}
<h2>Services</h2>

<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Display Name</th>
<th>Plugin</th>
<th>IP Template</th>
<th>Port</th>
<th></th>
</tr>
</thead>
<tbody>
{% for s in services %}
<tr>
<td>{{ s.pk }}</td>
<td>{{ s.name }}</td>
<td>{{ s.plugin }}</td>
<td>{Team Subnet} + {{ s.subnet_host }}</td>
<td>{{ s.port }}</td>
<td class='button-td'>
{% include "delete_form.html" with post_url='services' type='service' m=s %}
{% include "edit_form.html" with post_url='services' type='service' m=s forms=service_forms %}
</td>
</tr>
{% endfor %}
<tr>
<td colspan="4">
{% include "add_form.html" with post_url='services' type='service' forms=service_forms %}
</td>
</tr>
</tbody>
</table>

{% endblock %}
