{% extends 'base.html' %}

{% load bootstrap3 %}
{% load dyn_form %}

{% block teams %}active{% endblock %}

{% block content %}
<h1>Teams</h1>

{% if invalid %}
<div class="alert alert-danger alert-danger-dismissable" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Invalid Team
</div>
{% endif %}

<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Subnet</th>
<th>Netmask</th>
<th></th>
</tr>
</thead>

<tbody>
{% for t in teams %}
<tr class='clickable-row' data-href='{{ t.pk }}/'>
<td>{{ t.pk }}</td>
<td>{{ t.name }}</td>
<td>{{ t.subnet }}</td>
<td>{{ t.netmask }}</td>
<td class='no-clickable button-td'>
<form method="post" action="{% url 'teams' %}">
{% csrf_token %}
<input type='hidden' name='delete' value='true' />
<input type='hidden' name='type' value='team' />
<input type='hidden' name='id' value='{{ t.pk }}' />
<button class="btn btn-danger pull-right">
<span class="glyphicon glyphicon-trash"></span>
</button>
</form>

<button class="btn btn-primary btn-pad pull-right" data-toggle="modal" data-target="#editTeamModal-{{ t.pk }}">
<span class="glyphicon glyphicon-pencil"></span>
</button>

<div class="modal fade" id="editTeamModal-{{ t.pk }}" tabindex="-1" role="dialog" aria-labelledby="editTeamModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="editTeamModalLabel">Edit Team</h4>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'teams' %}">
          {% csrf_token %}
          {% bootstrap_form team_forms|dyn_form:t.pk %}
          <input type='hidden' name='type' value='team' />
          <input type='hidden' name='edit' value='true' />
          <input type='hidden' name='id' value={{ t.pk}} />
      </div>
      <div class="modal-footer">
          <input type="submit" class="btn btn-success" value="Submit"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>

</td>
</tr>
{% endfor %}
<tr>
<td colspan="3">
<button class="btn btn-success" data-toggle="modal" data-target="#modal">
<span class="glyphicon glyphicon-plus"></span>
</button>
</td>
</tr>
</tbody>
</table>

{% endblock %}

{% block after %}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<h4 class="modal-title" id="modalLabel">New Team</h4>
</div>
<div class="modal-body">
<form method="post" action="{% url 'teams' %}">
{% csrf_token %}
{% bootstrap_form team_forms|dyn_form:0 %}
</div>
<div class="modal-footer">
<input type="submit" class="btn btn-success" value="Submit" />
<input type="hidden" name="type" value="team" />
</form>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>

{% endblock %}
