{% extends 'base.html' %}

{% load bootstrap3 %}

{% block teams %}active{% endblock %}

{% block content %}
<h1>Teams</h1>

{% if invalid %}
<div class="alert alert-danger alert-danger-dismissable" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Invalid Team
</div>
{% endif %}

<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Name</th>
<th>Subnet</th>
<th>Netmask</th>
<th></th>
</tr>
</thead>

<tbody>
{% for t in teams %}
<tr class='clickable-row' data-href='{{ t.pk }}/'>
<td>{{ t.pk }}</td>
<td>{{ t.name }}</td>
<td>{{ t.subnet }}</td>
<td>{{ t.netmask }}</td>
<td class='no-clickable button-td'>

{% include "delete_form.html" with post_url='teams' type='team' m=t %}
{% include "edit_form.html" with post_url='teams' type='team' m=t forms=team_forms %}
</td>
</tr>
{% endfor %}
<tr>
<td colspan="3">
{% include "add_form.html" with post_url='teams' type='team' forms=team_forms %}
</td>
</tr>
</tbody>
</table>

{% endblock %}
